.movies{
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;

}

.pagin{
    display: flex;
    justify-content: space-between;
}

.pagin button{
    background: #8c6969;
    border-radius: 40%;
    width: 70px;
    height: 30px;
    text-align: center;
}
